.about-us {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.about-us-container {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.about-us-title {
    position: relative;
    text-align: center;
    margin-bottom: 3em;

}

.tagh2 {
    font-size: 3em;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.tagh2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 46%;
    background: #f31620;
    height: 2px;
    width: 100px;
}


.box {
    display: flex;
    flex-direction: row;
}

.left {
    padding-left: 1em;
    padding-right: 1em;
}

.right {
    padding-left: 1.1em;
    padding-right: 1.1em;
}

.pict {
    vertical-align: middle;
    object-fit: cover;
    width: 55rem;
    height: 30rem;
}