* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.cbanner-image-container .cbanner-image {
    height: 100%;
    width: 100%;
}

.capply-button {
    position: absolute;
    margin-top: -10%;
    margin-left: 42%;
}

.capply-button>button {
    border: 2px solid white;
    font-size: 2rem;
}