.flex-container {
  background-color: rgb(55, 54, 54);
  display: flex;
  align-items: stretch;
  align-content: center;
  margin-top: 6rem;
}

.firstpara {
  color: white;
  line-height: 1.6;
  font-size: large;
  height: 35rem;
  padding-left: 5rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
  font-size: larger;
  flex-grow: 1;
  height: 100%;
}
.secondpara {
  color: white;
  line-height: 1.6;
  font-size: large;
  height: 35rem;
  padding-left: 2.09rem;
  padding-top: 5rem;
  flex-grow: 1;
  height: 100%;
}
