.main-container{
  display:flex;
  flex-direction:row;
  height: 60rem;
  margin-top: 3rem;
  padding-top: 1rem;
  width:250rem;
}
.sub-container{
  display: flex;
  flex-direction: row;
  padding: 5rem;
  background-color: #333;
  width:300rem;
  
}
.email{
  font-size: 23px;
  text-decoration-line: underline;
  text-decoration-color: rgb(249, 8, 32);
  line-height: 0.2rem;
}
.contact_reach{
  font-size: 30px;
  text-decoration-line: underline;
  text-decoration-color: rgb(249, 8, 32);
  line-height: 0.2rem;
}
.contact_us{
  line-height: 0.1rem;
  padding-bottom: 15px;
  text-decoration-line: underline;
  text-decoration-color: rgb(249, 8, 32);
  font-size: 30px;
  padding-bottom: 15px;
  
}
.reach_us{
  font-size: 30px;
  text-decoration-line: underline;
  text-decoration-color: rgb(249, 8, 32);
  line-height: 0.1rem;
  padding-bottom: 15px;
  
}
.left-para{
  
  margin-left: 13rem;
  font-size: 16px;
  color: #fff;
  line-height: 1.5rem;
}
.right-para{
  margin-left: 10rem;
  font-size: 16px;
  color: #fff;
  line-height: 1.5rem;
}
.image{
  color: #e11c25; 
  font-weight: 600;
}
/* .flex-container {
  background-color: rgb(55, 54, 54);
  display: flex;
  align-items: stretch;
  align-content: center;
  margin-top: 6rem;
}

.firstpara {
  color: white;
  line-height: 1.6;
  font-size: large;
  height: 35rem;
  padding-left: 5rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
  font-size: larger;
  flex-grow: 1;
  height: 100%;
}
.secondpara {
  color: white;
  line-height: 1.6;
  font-size: large;
  height: 35rem;
  padding-left: 2.09rem;
  padding-top: 5rem;
  flex-grow: 1;
  height: 100%;
} */
