* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.institute-title {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgb(240, 69, 69);
  font-size: x-large;
  padding-top: 8rem;
}

.institute-information-container-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  /* margin: 2rem 10rem; */
  padding-bottom: 8rem;
}

.institute-information-container-row {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

}

.institute-information-card {
  /* border: 2px solid red; */
  margin: 1rem;
  flex-shrink: 1;
  width: 30%;
  padding: 2rem;
  padding-bottom: 15rem;
  /* padding-top: 15rem; */
  font-size: 1.3rem;
  font-weight: bolder;
  height: 25rem;
}

.institute-information-card>figure {
  font-size: x-large;
  padding: 1rem;
  max-width: fit-content;
  max-height: fit-content;
}

.institute-information-card>Button {
  margin-top: 2rem;
}

.title {
  font-size: medium;
  text-decoration: underline;
  text-decoration-color: rgb(227, 129, 129);
  text-underline-offset: 40%;
}

.container-ins {
  background-color: #f2f2f2;
  margin-top: 5rem;
  height: fit-content;

}

.readmore {
  margin-top: 5rem;
}